<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume Check</title>
</head>
<body>
    <h1>Submit Your Information</h1>        
        <div class="create">
            <h1> Create Poll</h1>
            <form method="POST" enctype="multipart/form-data"  class="form">
            {% csrf_token %}
                <table>
                    {{ fm.as_table }}
                </table>
                </br>
                <input type="submit"/>
            </form>
            {{ msg }}
            </div>
</body>
</html>
